# Серверные переменные для обработчика формы АМАПС
# Секретный ключ хранится только в настройках сервера. Не коммитить реальное значение в GitHub.

RESEND_API_KEY=replace_with_secret
AMAPS_TO_EMAIL=info@amaps-pro.ru
AMAPS_FROM_EMAIL=АМАПС <info@amaps-pro.ru>
